#the number of patterns to be recognized
4

# Pattern 1
# Rotation Matrix
0 1 0
0 0 -1
-1 0 0
# Distandes
-0.04
0
-0.23

# Pattern 2
# Rotation Matrix
0 1 0
0 0 -1
-1 0 0
# Distandes
-0.04
0
-0.23

# Pattern 3
# Rotation Matrix
0 1 0
0 0 -1
-1 0 0
# Distandes
-0.04
0
-0.23

# Pattern 4
# Rotation Matrix
0 1 0
0 0 -1
-1 0 0
# Distandes
-0.04
0
-0.23

